AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DYNAMODB_TABLE_NAME=hello-events
SNS_TOPIC_ARN=
SQS_QUEUE_URL=
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=hello-events-app
KAFKA_TOPIC=hello-events
PORT=3000
